.select_title_feature {
    display: flex;
    margin: 40px 120px 40px 50px;
    gap:20px;
}

.genreList_select{
    width:10%;
}

select{
    background-color: #252833;
    color: white;
    border-radius: 4px;
    border: 2px solid white;
}

option{
    background-color: #252833;
    color: white;
}

input[type="text"] {
    background-color: #252833;
    color: white;
    border-radius: 4px;
    border: 2px solid white;
} 

.movie_schedule_date {
    font-size: 24px;
    padding:10px;
}

.movie_cards {
    display: inline-block;
    transition: transform .2s;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    margin: 0.19rem;
    cursor:pointer;
    min-width:130px;
    height:200px;
    z-index:0;
    border: 1px solid rgb(99, 99, 99);
    margin:10px;
}

.movie_cards:hover {
    transform: scale(1.2);
    z-index: 1000;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.movie_cards__img {
    height: 200px;
}

.movie_cards__overlay {
    position: absolute;
    padding: 0 1rem 1rem 1rem;
    bottom: 0px;
    height: 195px;
    display: flex;
    flex-direction: column;
    width: 85%;
    justify-content: flex-end;
    background-image: linear-gradient(rgb(0,0,0,0), rgb(0,0,0,1));
    opacity: 0;
    transition: opacity .2s;
}   

.movie_cards__overlay:hover {
    opacity: 1;
}

.movie_card__title {
    font-weight: 900;
    font-size: 0.7rem;
    margin-bottom: 0.2rem;
}

.movie_card__genres {
    margin-bottom: 2px;
}

.movie_card__genre {
    font-size: .5rem;
    border: 1px solid white;
    border-radius: 5px;
    padding:1px;
    margin-right:1.5px;
    float: left;
    margin-top: 2px;
}

.movie_card__runtime {
    font-size: .5rem;
    margin-bottom: 0.12rem;
    margin-top:0.12rem;
}

.movie_card__rating {
    float: right;
}

.movie_card__year {
    font-size: .5rem;
    margin-bottom: 0.12rem;
    margin-top:0.12rem;
}

.metacritic_image{
    width: 0.75rem;
    height: 10px;
}
.movie_card_meta_rating {
    float: right;
    gap:4px;
    display: flex;
}

.movie_card__description {
    font-style: italic;
    font-size: .6rem;
    margin-bottom: 0.25rem;
    opacity: 0.5;
}